.navbar-mobile {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 0;
}

#logo {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  padding-block: 0;
}

.custom-toggler {
  border: 0;
  padding-block: 0;
}

.custom-toggler:focus{
    box-shadow: none;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#navbarNavDropdown{
    background-color: #fff;
}

#nav-list .nav-item .nav-link {
  padding: 10px 20px;
}

#navbarNavDropdown #nav-list .nav-link {
  color: #4e4e4e;
  font-size: 0.9375rem;
  font-weight: 600;
}

#header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.header-title {
  font-size: 3rem;
  font-weight: 600;
}
