@media (min-width: 993px){

    #navbarNavDropdown{
        background: rgba(0, 0, 0, 0);
    }

    #navbarNavDropdown #nav-list{
        height: auto;
    }

    #navbarNavDropdown #nav-list .nav-link{
        color: #fff;
    }
}