@media (min-width: 768px) {
  .home-title {
    font-size: 4.5rem;
  }

  .jop-title {
    font-size: 2.5rem;
  }

  #feedback .description {
    padding: 0 8rem;
  }

  #contact .row {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  #navbarNavDropdown {
    background: rgba(0, 0, 0, 0);
  }

  #navbarNavDropdown #nav-list {
    height: auto;
  }

  #nav-list .nav-link {
    color: #fff;
  }

  #nav-list .nav-link:hover{
    color: #fff;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 600;
    padding: 0 !important;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    width: 0;
    height: 2px;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover:before {
    visibility: visible;
    width: 80%;
    transition: all 0.5s ease-in-out;
  }

  #nav-list .nav-link:hover{
    color: #fff;
  }
  
  #nav-list .nav-link.active{
    color: #fff;
  }

  .nav-link.active::before{
    visibility: visible;
    width: 80%;
    transition: all 0.3s ease-in-out;
  }

  #about .about-container {
    padding: 4rem 3rem;
  }
}

@media (min-width: 1200px) {
  #home {
    background-attachment: fixed;
  }

  #statistics {
    background-attachment: fixed;
  }

  #feedback {
    background-attachment: fixed;
  }

  #feedback .description {
    padding: 0 13rem;
  }

  #contact {
    background-attachment: fixed;
  }
}
