@media (min-width: 768px) {
  .header-title {
    font-size: 4.5rem;
  }

  .jop-title {
    font-size: 2.5rem;
  }

  #feedback .description {
    padding: 0 8rem;
  }

  #contact .row {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  #navbarNavDropdown {
    background: rgba(0, 0, 0, 0);
  }

  #navbarNavDropdown #nav-list {
    height: auto;
  }

  #navbarNavDropdown #nav-list .nav-link {
    color: #fff;
  }

  #about .about-container {
    padding: 4rem 3rem;
  }
}

@media (min-width: 1200px) {
  #header {
    background-attachment: fixed;
  }

  #statistics {
    background-attachment: fixed;
  }

  #feedback {
    background-attachment: fixed;
  }

  #feedback .description {
    padding: 0 13rem;
  }

  #contact {
    background-attachment: fixed;
  }
}
